footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 57, 85);
    padding: 50px;
    font-family: 'Dosis';
    justify-content: center;
}

section {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

section:last-of-type {
    margin-right: 0;
}

h2 {
   color: white;
   border-bottom: 1px solid white; 
   padding-bottom: 3px;
   margin-bottom: 3px;
   font-size: 15px;
   letter-spacing: 2px;
}

a {
    font-size: 10px;
    color: white;
    font-weight: 100;
    margin-bottom: 2px;
}

.links {
    text-decoration: none;
    background-color: none;
    display: flex;
    text-align: left;
}

a:hover {
    border-bottom: 1px solid white;
}